<header class="navbar navbar-dark navbar-dark bg-dark">
  <a class="navbar-brand still col-md-3 col-lg-2 me-0 px-4" routerLink="cars">Araç Kiralama</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapsed"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row offset-8 col-md-0">
    <div class="col-md-6" style="float: right">
      <button *ngIf="!isAuthenticated()" type="button" class="btn btn-light" routerLink="/login">
        Giriş
      </button>
    </div>
    <div class="col-md-6" style="float: right">
      <button *ngIf="!isAuthenticated()" type="button" class="btn btn-light" routerLink="register">
        Üye Ol
      </button>
    </div>
    <div class="btn-group" style="margin-left: 10px" *ngIf="isAuthenticated()">
      <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">{{userInfo?.firstName}}</button>
      <ul class="dropdown-menu w-100 text-center">
        <li class="btn dropdown-item w-100 text-center">
          <!-- (click)="goToAdminEdit()" -->
          Profil Düzenle
        </li>
        <li class="btn dropdown-item w-100 text-center" (click)="logout()">Çıkış yap</li>
      </ul>
    </div>
  </div>
  <br />
</header>
