<div class="card mt-5">
  <div class="card-header card text-center">
    Ödeme
  </div>
  <div class="table">
    <tr>
      <th>Kiralanacak Gün sayısı: {{rentalDay}}</th>
    </tr>
    <br>
    <tr>
      <th>Ödenecek Tutar: {{totalAmountInfo}}</th>
    </tr>
  </div>
</div>
<br>


<div class="row">
  <div class="col-md-6 mb-3">
    <label>Ad Soyad</label>
    <input class="form-control" type="text" placeholder="" maxlength="40" aria-label="default input example"
      style="text-align: center" required><small class="text-muted">Kredi kartı üzerinde yazılan ad soyad</small>
  </div>



  <div class="col-md-6 mb-3">
    <label for="creditCardNumber">Kredi Kartı Numarası</label>
    <input class="form-control" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" name="number" required
      aria-label="default input example" style="text-align: center" maxlength="16" id="creditCardNumber" type="tel" />
  </div>

  <div class="col-md-3 mb-3">
    <label for="expirationDate">Son Kullanma Tarihi</label>
    <input class="form-control" type="text" placeholder="" aria-label="default input example" style="text-align: center"
      id="expirationDate" maxlength="5" />
    <small class="text-muted">AA/YY şeklinde</small>
  </div>
  <div class="col-md-3 mb-3">
    <label for="securityCode">CVV</label>
    <input class="form-control" type="text" placeholder="***" aria-label="default input example" id="securityCode"
      maxlength="3" />
    <small class="text-muted">Kartın arkasındaki kod</small>
  </div>
</div>

<div class="col-12 d-flex justify-content-end">
  <button type="submit" class="btn btn-outline-dark" (click)="add()">Ödeme Yap </button>
</div>
