.form-control{
  margin-top:10px;
  height:40px;
  width:250px;
}



.alert{
  width:250px;
}


.alert-success{
  width:250px;
}

.form-select{
  margin-top:10px;
  height:40px;
  width:250px;
}

.btn{
  margin-top: 10px;
}
